    <tr>
        <td><%= caregiver.description %></td>
        <td><%= link_to 'Show', caregiver %></td>
        <td><%= link_to 'Edit', edit_caregiver_path(caregiver) %></td>
        <td><%= link_to 'Destroy', caregiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>