<h1>About Us</h1>
<p>We founded EasyCare with one mission:</p>
<p>To make it easy and affordable for anyone to hire and manage
the care of their loved one.  We want to hear from you! Please drop us a note at johnfarmernyc@gmail.com.
</p>
<p>Thanks for using EasyCare!</p>